test3.json
{
  "id": "9333fa05-fdb6-49a5-9887-715aedb3c061",
  "brandColor": "#8C3900",
  "connectionReferences": {
    "shared_commondataserviceforapps": {
      "connection": {
        "id": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps/connections/shared-commondataser-1f5d1024-2ae7-449e-8e03-77bfbe2618bd"
      }
    }
  },
  "connectorDisplayName": "Control",
  "icon": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=",
  "isTrigger": false,
  "operationName": "Scope",
  "operationDefinition": {
    "type": "Scope",
    "actions": {
      "Compose_44": { "type": "Compose", "inputs": "Test", "runAfter": {} },
      "Compose_22": {
        "type": "Compose",
        "inputs": "Test2",
        "runAfter": { "Compose_44": ["Succeeded"] }
      },
      "List_rows": {
        "type": "OpenApiConnection",
        "inputs": {
          "host": {
            "connectionName": "shared_commondataserviceforapps",
            "operationId": "ListRecords",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
          },
          "parameters": { "entityName": "contacts" },
          "authentication": {
            "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
          }
        },
        "runAfter": { "Compose_22": ["Succeeded"] }
      }
    },
    "runAfter": {}
  }
}
